{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
            <a href="{{ BASE }}user/proizvodi" role="button">Lista proizvoda</a>
    </div>

    <p>{{ message|escape }}</p>
</div>
{% endblock %}
