{% extends "_global/index.html" %}

{% block main %} 
    <div class="container">
        <div class="card text-center w-75 mx-auto">
            <div class = "card-header">
                <a class="btn btn-info mx-2" href="{{BASE}}user/profile" role="button">Nazad na komandnu tablu</a>
                <a class="btn btn-primary mx-2" href="{{ BASE }}user/proizvodi/add" role="button">Dodaj novi proizvod</a>
                <a class="btn btn-dark mx-2" href="{{ BASE }}user/proizvodi/delete" role="button">Obrisi proizvod</a>
           <!-- <a href="{{ BASE }}user/prices"><button type="button" class="btn btn-success">Lista cena proizvoda</button></a> 
            <a href="{{ BASE }}user/producategories"><button type="button" class="btn btn-success">Lista kategorija proizvoda</button></a> -->
            </div>
        
        <ul class="list-group list-group-flush">
            {% for proizvod in proizvodi %}
            <li class="list-group-item">
                <a href="{{ BASE }}user/proizvod/edit/{{ proizvod.proizvod_id }}">
                    {{ proizvod.naziv|escape }}
                </a>         
            {% endfor %}
            </li>
        </ul>
    </div>
</div>
{% endblock %}
