{% extends "_global/index.html" %}

{% block main %} 
<a href="#" onclick="addBookmark({{ oglas.oglas_id }});"> Add to bookmark</a>
<h1>{{ oglas.naziv|escape }}</h1>
<p> {{ oglas.opis}}:</p>
<p> Datum pocetka oglasa: {{ oglas.created_at|date('j. n. Y.') }}</p>
<p> Datum isteka oglasa: {{ oglas.expires_at|date('j. n. Y.') }}</p>

{% endblock %}

{% block naslov %}
{{ oglas.title|escape}}
{% endblock %}
