{% extends "_global/index.html" %}

{% block main %}
<div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center px-2 py-2">
                <a class="btn btn-danger mx-3" href="{{BASE}}user/proizvodi" role="button">Uredi proizvode</a>
                <a class="btn btn-success mx-3" href="{{BASE}}user/oglasi" role="button">Uredi oglase</a>
            </div>
        </div>
    </div>
{% endblock %}
