{% extends "_global/index.html" %}

{% block main %}
    <div class="container">
        <div class="row">
            <form action="{{BASE}}user/login" method="POST" class="col col-md-8 offset-md-2 card px-0">
                <div class="card-header">
                    <h4 class="text-center mb-0">Prijava korisnika</h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="input_korisnicko_ime">Korisničko ime:</label>
                        <input type="text" id="input_korisnicko_ime" name="login_korisnicko_ime" required class="form-control"
                            placeholder="Unesite svoje korisničko ime.">
                    </div>
        
                    <div class="form-group">
                            <label for="input_lozinka">Lozinka:</label>
                            <input type="password" id="input_lozinka" name="login_lozinka" required class="form-control"
                                placeholder="Unesite svoju lozinku.">
                    </div>
                </div>
        
                <div class="card-footer text-center">
                    <button class="btn btn-primary " type="submit">
                        Prijava
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!--
    <form action="{{ BASE }}user/login" method="POST">
        <div>
            <label for="input_korisnicko_ime">Korisničko ime:</label>
            <input type="text" id="input_korisnicko_ime" name="login_korisnicko_ime" required
                   placeholder="Unesite svoje korisničko ime.">
        </div>
    
        <div>
            <label for="input_lozinka">Lozinka:</label>
            <input type="password" id="input_lozinka" name="login_lozinka" required
                   placeholder="Unesite svoju lozinku.">
        </div>
    
        <div>
            <button type="submit">
                Log in
            </button>
        </div>
    </form>-->
{% endblock %}