{% extends "_global/index.html" %}

{% block main %}
<div class="container">
<div class="row">
    <form action="{{ BASE }}user/register" method="POST" 
        class="card col col-md-8 offset-md-2 px-0">
            <div class="card-header">
                <h4 class="text-center mb-0">Registracija korisnika</h4>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="input_email">E-mail:</label>
                    <input type="email" id="input_email" name="reg_email" required class="form-control"
                        placeholder="Unesite svoju adresu e-pošte u ovo polje.">
                </div>

                <div class="form-group">
                    <label for="input_ime">Ime:</label>
                    <input type="text" id="input_ime" name="reg_ime" required class="form-control"
                        placeholder="Unesite svoje ime.">
                </div>

                <div class="form-group">
                    <label for="input_prezime">Prezime:</label>
                    <input type="text" id="input_prezime" name="reg_prezime" required class="form-control"
                        placeholder="Unesite svoje prezime.">
                </div>

                <div class="form-group">
                    <label for="input_korisnicko_ime">Korisničko ime:</label>
                    <input type="text" id="input_korisnicko_ime" name="reg_korisnicko_ime" required class="form-control"
                        placeholder="Unesite željeno korisničko ime.">
                </div>

                <div class="form-group">
                    <label for="input_lozinka_1">Lozinka:</label>
                    <input type="password" id="input_lozinka_1" name="reg_lozinka_1" required class="form-control"
                        placeholder="Unesite željenu lozinku.">
                </div>

                <div class="form-group">
                    <label for="input_lozinka_2">Ponovite lozinku:</label>
                    <input type="password" id="input_lozinka_2" name="reg_lozinka_2" required class="form-control"
                        placeholder="Unesite željenu lozinku još jednom.">
                </div>
            </div>
        
            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">
                    Registruj se
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
