{% extends "_global/index.html" %}

{% block main %} 
{% spaceless %}
<div id="slider" class="carousel slide mb-3" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slider" data-slide-to="0" class="active"></li>
        <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{BASE}}assets/img/877098.jpg" alt="1" class="img-fluid mx-auto w-100">
        </div>
        <div class="carousel-item">
            <img src="{{BASE}}assets/img/flo1.jpg" alt="2" class="img-fluid mx-auto w-100">
        </div>
        <div class="carousel-item">
            <img src="{{BASE}}assets/img/809037.jpg" alt="3" class="img-fluid mx-auto w-100">
        </div>
    </div>

    <a class="carousel-control-prev" href="#slider" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#slider" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>
<!-- col-12 col-sm-6 col-md-4 col-lg-3 col-12 col-sm-6 col-md-6 col-lg-4 mb-4 text-center-->
<div class="container">
    <div class="row dupe justify-content-center">
        {% for proizvod in proizvodi %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center px-2 py-2">
            <div class="card">
                <div class="card-body">
                    <a href="{{BASE}}proizvod/{{proizvod.proizvod_id}}" class="card-title">
                        {{ proizvod.naziv }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
</div>
</div>
{% endspaceless%}
{% endblock %}