.main-menu {
    margin-bottom: 20px;
}

.social-icons a i.fa {
    display: inline-block;
    color: #FF0000;
    font-size: 25pt;
    margin: 5px;
}
.social-icons a i.fa.fa-facebook-square {color: rgb(60, 88, 152);}
.social-icons a i.fa.fa-twitter-square {color: rgb(29, 161, 242);}
.social-icons a i.fa.fa-google-plus-square {color: rgb(221, 75, 57);}

.proizvod{
    padding: 30px 0px;
}

#slider {
    height: 25rem;
    overflow: hidden;
}

/* * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0 auto;
    width: 900px;
}

.site-header {
    display: grid;
    grid-template-areas: "banner social"
                         "banner search"
                         "menu   menu";
}

.banners{ grid-area: banner;}

#main-menu {
    grid-area: menu;
    margin: 20px 0px; 
}

#main-menu > ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}
#main-menu > ul > li{
    text-align: center; 
    flex-grow: 1;

  
}

#main-menu > ul > li:hover{
    background: rgba(99, 8, 8, 0.3);
}

#main-menu > ul > li >a {
    text-decoration: none;
    padding: 10px 0px;
    display: block;
    color: #000;
    }


.proizvodi {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: wrap;
}

.site-footer{
    margin-top: 40px;
    text-align: center;
}

.oglas{
    display: grid;
    grid-template-areas: "big-image big-image naziv naziv"
                         "big-image big-image date1 date2";
    
    grid-template-columns: 210px 0px auto;
    border-bottom: 1px solid #444;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.oglas > .oglas-naziv{grid-area: naziv; border: 1px dashed #ccc;}
.oglas > .oglas-date1 {grid-area: date1; border: 1px dashed #ccc;}
.oglas > .oglas-date2 {grid-area: date2; border: 1px dashed #ccc;} 
.oglas > .oglas-big-image {grid-area: big-image; border: 1px dashed #ccc;}
.oglas > .oglas-big-image > img { width: auto; height: auto; }

.bookmarks {
    border: 1px solid #000000;
    background: #fefefe;
    position: fixed;
    display: block;
    right: 0px;
    top: 50px;
}
*/