{% extends "_global/index.html" %}

{% block main %} 
<ul>
    {% for oglas in oglasiInProizvod %}
        <li class="oglas">
        <a href = "{{ BASE }}oglas/{{oglas.oglas_id}}" class="oglas-naziv">
            {{ oglas.naziv|escape }}
            </a>

            <span class= "oglas-date1">{{ oglas.created_at|escape }}</span>
            <span class= "oglas-date2">{{ oglas.expires_at|escape }}</span>
            

         <a href = "{{ BASE }}oglas/{{oglas.oglas_id}}">
            <img src= "{{ BASE }}assets/img/cvecezarodjendan-1.jpg" alt="Velika slika - {{oglas.oglas_id}}" class= "oglas-big-image">
        </a>
    {% endfor%}
</ul>

{% endblock %}

{% block naslov %}
{{ proizvod.naziv|escape }}
{% endblock %}

