<!doctype html>
<html>
    <head>
        <title>Flora oglasi- {% block naslov %}Pocetna{% endblock %}</title>
        <meta charset="utf-8">
        <link rel= "stylesheet" href= "{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel= "stylesheet" href= "{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel= "stylesheet" href= "{{ BASE }}assets/css/main.css">
     </head>
     <body>
        <div class="container">
            <header>
                <div class="row">
                    <div class= "col col-sm">
                        <a href = "{{ BASE }}">
                            <img src= "{{ BASE }}assets/img/banner-2.jpg" alt= "Banner 1">
                        </a>
                    </div>
                    <div class= "col col-sm">
                        <div class="social-icons text-right">
                            <a href= "https://www.facebook.com/"> <i class="fa fa-facebook-square"></i></a>
                            <a href= "https://www.twitter.com/"> <i class="fa fa-twitter-square"></i></a>
                            <a href= "https://www.plus.google.com/discover"> <i class="fa fa-google-plus-square"></i></a>
                            <a href= "https://www.youtube.com/"> <i class="fa fa-youtube-square"></i></a>
                        </div>

                        
                    </div>
                </div>

                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
        
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-item nav-link" href="{{ BASE }}"><i class="fa fa-home"></i> Početna</a>
                                </li>
                                <li class="nav-item dropdown active">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                        <i class="fa fa-list"></i>
                                            Proizvodi
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        {% for proizvod in proizvodi %} 
                                            <a class="dropdown-item" href="{{ BASE }}proizvod/{{ proizvod.proizvod_id }}">{{ proizvod.naziv }}</a>
                                        {% endfor %}
                                    </div>
                                    
                                </li>
                            <li class="nav-item active">
                                <a class="nav-item nav-link" href="{{ BASE }}/user/profile"><i class="fa fa-user"></i> Profil</a>
                            </li>
                            
                            <li class="nav-item active">
                                <a class="nav-item nav-link" href="{{ BASE }}cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Korpa</a>
                            </li>
                    
                            <li class="nav-item active">
                                <a class="nav-item nav-link" href="{{ BASE }}user/logout"><i class="fa fa-sign-out"></i> Odjava</a>   
                            </li>
                          </ul>
                          <div class = "search-box">
                            <form method="post" action="{{ BASE }}search">
                                <div class="form-group mb-0">
                                    <div class="input-group">
                                        <input type="text" name = "q"  class="form-control" placeholder="Kljucne reci pretrage">
                                        <div class="input-group-append">
                                        <button type="submit" 
                                        class="btn btn-primary ">
                                        <i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                    </div>
                                    </form>
                                    </div>
                                    </div>
                      </nav>
                <!--
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-item nav-link" href= "{{ BASE }}"><i class="fa fa-home"></i> Pocetna</a>
                        <a class="nav-item nav-link" href= "{{ BASE }}user/profile"><i class="fa fa-user"></i> Profil</a>
                        <a class="nav-item nav-link" href= "{{ BASE }}kontakt"><i class="fa fa-phone"></i> Kontakt</a>
                        <a class="nav-item nav-link" href= "{{ BASE }}user/logout"><i class="fa fa-sign-out"></i> Odjava</a>
                      </div>
                      
                      <div class= "search-box">
                        <form method= "post" action="{{ BASE }}search">
                            <div class="form-group row">
                                <div class="input-group">
                                    <input type= "text" name="q" class="form-control"
                                            placeholder="Kljucne reci pretrage">
                                    <div class="button-group-append">
                                        <button type="submit"
                                            class="btn btn-primary" ><i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                  </nav>-->
            </header>
            <main>
                {% block main %}
                {% endblock %}
            </main>

            <div class="bookmarks">Loading bookmarks...</div>

            <footer class= "site-footer">
                &copy; 2018 - Prodaja cveca Flora
            </footer>
        </div>
        
        <script>const BASE = '{{ BASE }}';</script>
        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{ BASE }}assets/js/bookmark.js"></script>
    </body>
</html>