{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
            <a href="{{ BASE }}user/oglasi" role="button">Lista oglasa</a>
    </div>

    <form class="proizvod-form" method="POST">
        <div>
            <label for="naziv">Naziv: </label>
            <input type="text" id="naziv" name="naziv" required>
        </div>

        <div>
            <label for="opis">Opis: </label>
            <textarea id="opis" name="opis" required rows="3">{{ oglas.opis }}</textarea>
        </div>

        <div>
            <label for="expires_at">Ends at: </label>
            <input type="datetime-local" id="expires_at" name="expires_at" required >
        </div>

        <div>
            <label for="proizvod_id">Oglas proizvoda: </label>
            <select class="form-control" name="proizvod_id" id="proizvod_id">
                {% for proizvod in proizvodi %}
                <option value="{{ proizvod.proizvod_id }}" {% if oglas.proizvod_id == proizvod.proizvod_id %}selected{% endif %}>
                    {{ proizvod.naziv }}
                </option>
                {% endfor %}
            </select>
        </div>
    

        <div>
            <button type="submit">
                Dodaj proizvod
            </button>
        </div>
    </form>
</div>
{% endblock %}
