{% extends "_global/index.html" %}

{% block main %}
<div>
    <div class="options">
            <a href="{{ BASE }}user/profile" role="button">Nazad na komandu tablu</a>
            <a href="{{ BASE }}user/oglasi" role="button">Lista oglasa</a>
    </div>

    <form class = "oglas-form", method="POST">
        <div>
            <label for="naziv">Naziv:</label>
            <input type="text" id="naziv" name="naziv" value="{{ oglas.naziv|escape }}">
        </div>

        <div>
            <label for="opis">Opis: </label>
            <textarea id="opis" name="opis" required rows="3">{{ oglas.opis }}</textarea>
        </div>
        <!-- 
        <div >
            <label for="expires_at">Zavrsava se: </label>
            <input type="datetime-local" id="expires_at" name="expires_at" required value="{{ oglas.expires_at }}">
        </div>
        -->
        <div>
            <button type="submit">
                Izmeni oglas
            </button>
        </div>
    </form>
    
</div>

{% endblock %}
