{% extends "_global/index.html" %}

{% block main %} 
<div class="container">
    <div class="card text-center w-75 mx-auto">
        <div class = "card-header">
            <a class="btn btn-info mx-2" href="{{BASE}}user/profile" role="button">Nazad na komandnu tablu</a>
            <a class="btn btn-primary mx-2" href="{{ BASE }}user/oglasi/add" role="button">Dodaj novi oglas</a>
            <a class="btn btn-dark mx-2" href="{{ BASE }}user/oglasi/delete" role="button">Obrisi oglas</a>
       <!-- <a href="{{ BASE }}user/prices"><button type="button" class="btn btn-success">Lista cena proizvoda</button></a> 
        <a href="{{ BASE }}user/producategories"><button type="button" class="btn btn-success">Lista kategorija proizvoda</button></a> -->
        </div>
    
    <ul class="list-group list-group-flush">
        {% for oglas in oglasi %}
        <li class="list-group-item">
            <a href="{{ BASE }}user/oglasi/edit/{{ oglas.oglas_id }}">
                {{ oglas.naziv|escape }}
            </a>         
        {% endfor %}
        </li>
    </ul>
</div>
</div>
{% endblock %}
<!--
<div>
    <div class="options">
            <a href="{{ BASE }}user/profile" role="button">Nazad na komandu tablu</a>
            <a href="{{ BASE }}user/oglasi/add" role="button">Dodaj novi oglas</a>
    </div>
    <div class = "oglasi">
        <ul>
            {% for oglas in oglasi %}
            <li>
                <a href="{{ BASE }}user/oglasi/edit/{{ oglas.oglas_id }}">
                    {{ oglas.naziv|escape }}
                </a>         
            {% endfor %}
            </li>
        </ul>
    </div>
</div>
-->
